[submodule "forge-contracts/lib/ds-test"]
	path = forge-contracts/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "forge-contracts/lib/solmate"]
	path = forge-contracts/lib/solmate
	url = https://github.com/Rari-Capital/solmate
[submodule "forge-contracts/lib/forge-std"]
	path = forge-contracts/lib/forge-std
	url = https://github.com/brockelmore/forge-std
