[submodule "contracts/lib/ds-test"]
	path = contracts/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "contracts/lib/solmate"]
	path = contracts/lib/solmate
	url = https://github.com/Rari-Capital/solmate
[submodule "contracts/lib/oz"]
	path = contracts/lib/oz
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
