@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: black;
  background-color: #ebf786;
  opacity: 0.9;
  background-image: linear-gradient(#d3e62b 1px, transparent 1px),
    linear-gradient(to right, #d3e62b 1px, #ebf786 1px);
  background-size: 20px 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: MatterHeavy;
  src: url(Matter-Heavy.otf);
}

@font-face {
  font-family: MatterRegular;
  src: url(Matter-Regular.otf);
}

.matter-heavy {
  font-family: MatterHeavy;
}

.matter-regular {
  font-family: MatterRegular;
}

.bg-gobbler-yellow {
  background-color: #ebf786;
  opacity: 0.8;
  background-image: linear-gradient(#d3e62b 1px, transparent 1px),
    linear-gradient(to right, #d3e62b 1px, #ebf786 1px);
  background-size: 20px 20px;
}
