@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  background-color: black;
  /* opacity: 0.9;
  background-image: linear-gradient(#d3e62b 1px, transparent 1px),
    linear-gradient(to right, #d3e62b 1px, #ebf786 1px);
  background-size: 20px 20px; */
  background-color: #000000;
  opacity: 1;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #000000 10px
    ),
    repeating-linear-gradient(#48484855, #252525);

  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: MatterHeavy;
  src: url(Matter-Heavy.otf);
}

@font-face {
  font-family: MatterRegular;
  src: url(Matter-Regular.otf);
}

.matter-heavy {
  font-family: MatterHeavy;
}

.matter-regular {
  font-family: MatterRegular;
}

.bg-gobbler-yellow {
  background-color: #ebf786;
  opacity: 0.8;
  background-image: linear-gradient(#d3e62b 1px, transparent 1px),
    linear-gradient(to right, #d3e62b 1px, #ebf786 1px);
  background-size: 20px 20px;
}

.gradient-font {
  background: -webkit-linear-gradient(#eee, #acacac);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
